<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">   
        <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title> {{sala.sala}} </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content color="dark">

  <!-- <ion-card color="medium" class="carta">
      <ion-card-content style="text-align:center">
          <h3 style="font-size: 20px"> General </h3>
          <ion-icon name="power" style="color:aquamarine;font-size:45px"></ion-icon>
          <p>Apaga todas las luces y los aparatos electronicos de esta sala</p>
          <ion-toggle color="secondary" [checked]="luces"></ion-toggle>
      </ion-card-content>

  </ion-card> -->

  <!-- luces -->
  <div *ngFor="let item of luces">

      <ion-card color="medium" class="carta" (click)="Cambiar(item)">
          <ion-card-content style="text-align:center">
              <h3 style="font-size: 20px"> {{item.nombre}} </h3>
              <ion-icon name="sunny" style="color:aquamarine;font-size:45px"></ion-icon>
              <p *ngIf="item.estado"> Encendido</p>
              <p *ngIf="!item.estado"> Apagado</p>
          </ion-card-content>

      </ion-card>
  </div>


  <!-- Termome -->
  <ion-card color="medium" class="carta">
      <ion-card-content style="text-align:center">
          <h3 style="font-size: 20px"> Termometro </h3>
          <ion-icon name="thermometer" mode="ios" style="color:aquamarine;font-size:45px">
          </ion-icon>
          <p>Temperatura del termometro</p>
          <h3 style="font-size: 20px"> {{temp}} C° </h3>

          <ion-item color="medium" lines="none">
              <ion-range disabled mode="md" [value]="temp" [min]="temp - 10" [max]="temp + 10" step="1" pin="true" snaps="true" ticks="true" color="secondary">
                  <ion-icon size="small" slot="start" name="snow"></ion-icon>
                  <ion-icon slot="end" name="flame"></ion-icon>
              </ion-range>
          </ion-item>

      </ion-card-content>

  </ion-card>

</ion-content>