.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
  
}
.welcome-card {
  border: 1px solid  rgb(173, 171, 171);
  cursor: pointer;
}
.welcome-card:active{
  background-color: #f4f5f8;
  transform: translateY(2px);

}

.croquis{
  margin: auto;
  background: url('/assets/icon/casa.png') repeat transparent;
  background-color: #fff;
  border-radius: 5px;
  background-size: 100%;
  width: 401px;
  height: 327px;
}
