<ion-header color="dark">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" >
      <ion-menu-button color='dark'></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{titulo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
    <br>

    <div class="croquis"></div>

    <ion-card class="welcome-card" color="light" *ngFor="let s of this.rs.salas" >
     
      <ion-card-content [routerLink]="[ '/sala/' + s.sala]">
        <ion-item lines="none" color="light" detail="false">
          <img src="../../assets/icon/{{s.tipo}}.png" style="width: 45px" alt="{{s.tipo}}" [routerLink]="[ '/sala/' + s.sala]">
            <div class="logo"></div>
            <h3 style="font-size: 27px" [routerLink]="[ '/sala/' + s.sala]" >&nbsp; {{s.sala}} </h3>

            <ion-button fill="clear" slot="end" (click)="cambio(s)">
                <ion-icon [ngStyle]="{'color': s.on === 1 ? 'mediumaquamarine' : 'gray'}"
                style="color:mediumaquamarine; font-size: 30px" mode="md" name="power"></ion-icon>
              </ion-button>

        </ion-item>

        <!-- <ion-button [color]="s.status" fill ="clear"  *ngFor="let i of btns">

          <ng-container *ngIf="i['name']== 'thermometer' " >
            {{s.tmp}} {{i.text}}
          </ng-container>
      
          <ion-icon slot="start" mode="ios" [name]="i.name"></ion-icon>
        </ion-button> -->
        
      </ion-card-content>
    </ion-card>

    
</ion-content>
