<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item >
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" maxlength='50'></ion-input>
      </ion-item>

    <ion-item >
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.nombre" maxlength='50'></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label position="floating" >Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" maxlength='300'></ion-input>
      </ion-item> 

      <ion-item >
          <ion-label position="floating" >Repetir contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="user.password2" maxlength='300'></ion-input>
        </ion-item>

        <ion-button expand="block" color="secondary" (click)="registrar(user)"
        [disabled]="!user.nombre || !user.email || !user.password || !user.password2">
          Registrar
        </ion-button>

</ion-content>
